.links {
    a {
        color: #4D3E37;
        font-weight: 700;
        text-decoration: none;

        &:global(.active) {
            text-decoration: underline !important;
        }
    }
}

.container {
    max-width: 1400px;
    margin: auto;
}