@font-face {
    font-family: 'gilroy';
    src: url('../../static/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grafita';
    src: url('../../static/fonts/grafita/Grafita Special DEMO.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'molodo';
    src: url('../../static/fonts/molodo/molodo-font.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    overflow: auto;
    font-family: system-ui, -apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

iframe {
    border: none;
}

.headerFont {
    font-family: 'gilroy';
}

.headerText {
    font-family: 'gilroy';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}


.h1Font {
    font-family: 'grafita';
}