@font-face {
    font-family: 'gilroy';
    src: url('../../static/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.headerFont {
    font-family: 'gilroy';
    letter-spacing: 19.8px;
    font-size: 36px;
}